<div class="container">
    <div class="jumbotron">
	    <h1 id="logoText">PetHarmony</h1>
        <hr class="my-4">
        <p class="aboutText">Unauthorized</p>
    </div>
    <div class="gray">
        <div class="outer">
            <h3>Error 401 - Unauthorized</h3>
            <div style="font-size:200px"> :( </div>
        </div>
    </div>
</div>
