<style>
#approveForm {
    margin: 10px;
}

ul {
    list-style-type: none;
}
</style>

<div class="container" id="heading">
  <h1>Pending Applications</h1>

  <ul>
    {{#each apps}}
        <li><a href="/applications/animals/{{this.animalID}}">User: {{this.userID}} - Animal: {{this.animalID}}</a></li>
    {{/each}}
  </ul>

</div>

