<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-6 justify-content-md-center">
            <h1 class="text-center">Login</h1>
            {{> login}}
        </div>
    </div>
</div>
