<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="col-md-12 bootstrap snippets">
<div class="panel">
  <div class="panel-body">
    <textarea class="form-control" rows="2" placeholder="Write a new news update"></textarea>
    <div class="mar-top clearfix">
    <div class="mb-3">
      <input type="file" class="form-control" id="myFile" name="filename">
    </div>

      <button class="btn btn-sm btn-primary pull-right" type="submit"><i class="fa fa-pencil fa-fw"></i> Share</button>
      {{!-- <a class="btn btn-trans btn-icon fa fa-video-camera add-tooltip" href="#"></a>
      <a class="btn btn-trans btn-icon fa fa-camera add-tooltip" href="#"></a>
      <a class="btn btn-trans btn-icon fa fa-file add-tooltip" href="#"></a> --}}
    </div>
  </div>

<div class="mb-3">
      <paragraph>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quaerat totam dignissimos ducimus eveniet quasi natus excepturi cupiditate officiis, sint, error reprehenderit? Consectetur impedit voluptas alias, ratione similique voluptatem hic.</paragraph>
      <img src="/images/dog.jpg" class="d-block w-100" alt="...">
</div>
<br>
<div class="mb-3">
      <paragraph>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quaerat totam dignissimos ducimus eveniet quasi natus excepturi cupiditate officiis, sint, error reprehenderit? Consectetur impedit voluptas alias, ratione similique voluptatem hic.</paragraph>
      <img src="/images/dog.jpg" class="d-block w-100" alt="...">
</div>

</div>
</div>
</div>

