
<link rel="stylesheet" href="/css/search.css" type="text/css">

<link rel="stylesheet" href="/css/profile.css" type="text/css">


<div class="container" id="heading">
  <h1>Profile Page</h1>
</div>
<div class="container">
  <div class="row">
    <!--Animal search criteria (left left 3/12 of page in full-size browser window)-->

    <div class="col-lg-3 col-sm-9 float-md-none"> 
      <div class="container">
        <div class="row search">
          Animal Type:<br>
          {each animal type here}
        </div>
      </div>
    </div>
    <!--Animal data from database (right 9/12 columns of page in full-size browser window)-->
    {{!-- <div class="col-md-9 col-sm-12 float-md-none"> 
      <div class="container">
        <div class="row">
          <!--Table nested in the right 9/12 of the page. Each animal card is 4/12 columns of this nested section-->
          <div class="col-md-4">
            <div class="card" style="">
              <img src="/images/A_Basenji_puppy.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="card" style="">
              <img src="/images/A_Basenji_puppy.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="">
              <img src="/images/A_Basenji_puppy.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="">
              <img src="/images/A_Basenji_puppy.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> --}}
  </div>

    <div class="col-md-3 col-sm-12 float-md-none"> 
      <div class="container">
        <div class="card" style="width: 18rem;">
  <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" class="card-img-top" alt="">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Change Picture</a>
  </div>
</div>
      </div>
    </div>
    <!--Animal data from database (right 9/12 columns of page in full-size browser window)-->
    <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {name place holder}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {email place holder}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {phone place holder}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {address}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Adopted Animals</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                      {list of animals}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="d-flex flex-row-reverse">
                          <button type="button" class="btn btn-primary">Edit Profile</button>
                      </div>
                  </div>
</div> 

<script src="/js/profile.js"></script>