<link rel="stylesheet" href="/css/profile.css" type="text/css">

<div class="container" id="heading">
  <h1>Profile</h1>
</div>
<div class="container">
  <div class="row">
    <!--Animal search criteria (left left 3/12 of page in full-size browser window)-->
    <div class="col-md-3 col-sm-12 float-md-none"> 
      <div class="container">
        <div class="card" style="width: 18rem;">
  <img src="https://www.pngitem.com/pimgs/m/146-1468479_my-profile-icon-blank-profile-picture-circle-hd.png" class="card-img-top" alt="">
  <div class="card-body">
    <a href="#" class="btn btn-primary">Change Picture</a>
  </div>
</div>
      </div>
    </div>
    <!--Animal data from database (right 9/12 columns of page in full-size browser window)-->
    <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {name place holder}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {email place holder}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {phone place holder}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {address}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Adopted Animals</h6>
                    </div>
                    <div class="col-sm-3 text-secondary">
                      {list of animals}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                      <div class="d-flex flex-row-reverse">
                          <button type="button" class="btn btn-primary">Edit Profile</button>
                      </div>
                  </div>
</div> 

<script src="/js/profile.js"></script>