<link rel="stylesheet" href="/css/search.css" type="text/css">

	<section class ="bg-light text-secondary p-2 pt-4">
		<div class="container">
		<div class="d-md-flex allign-items-center">
			<h3 class="mb-3 mb-md-0">Search For Animals</h3>

			<div class="input-group mb-3">
  <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="By type, breed, or disposition"/>
  <button class="btn btn-dark btn-lg" type="Button" id="button-addon2">Search</button>
</div>

</div>
</div>
</div>
</section>

<section class="bg-light" p-5>
<div class="container">
  <div class="row">
    <!--Animal search criteria (left left 3/12 of page in full-size browser window)-->
    <div class="col-md-3 col-sm-12 float-md-none"> 
      <div class="container">
        <div class="row search">
          Animal Type:<br>
          {each animal type here}
        </div>
        <div class="row search">
          Breed:<br>
          {each breed type here}
        </div>
        <div class="row search">
          Disposition:<br>
          {each disposition here}
        </div>
      </div>
    </div>
    <!--Animal data from database (right 9/12 columns of page in full-size browser window)-->
    <div class="col-md-9 col-sm-12 float-md-none"> 
      <div class="container">
        <div class="row">
          <!--Table nested in the right 9/12 of the page. Each animal card is 4/12 columns of this nested section-->
          <div class="col-md-4">
            <div class="card" style="">
              <img src="/images/A_Basenji_puppy.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 ">
            <div class="card" style="">
              <img src="/images/A_Basenji_puppy.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="">
              <img src="/images/A_Basenji_puppy.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="">
              <img src="/images/A_Basenji_puppy.jpg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 
</section>

<script src="/js/search.js"></script>