<link rel="stylesheet" href="/css/search.css" type="text/css">

<div class="container" id="heading">
  <h1>Find an Animal</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12 float-md-none"> 
      <div class="container">
        <div class="row search">
          Animal Type:<br>
          {each animal type here}
        </div>
        <div class="row search">
          Breed:<br>
          {each breed type here}
        </div>
        <div class="row search">
          Disposition:<br>
          {each disposition here}
        </div>
      </div>
    </div>
      <div class="col-md-3">
        <div class="card" style="">
          <img src="/images/A_Basenji_puppy.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 ">
        <div class="card" style="">
          <img src="/images/A_Basenji_puppy.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" style="">
          <img src="/images/A_Basenji_puppy.jpg" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  </div>
</div> 

<script src="/js/search.js"></script>