.search {
    border-top: ridge;
    height:200px; 
    overflow:hidden; 
    overflow-y:scroll;
}

.searchSpecies {
    border-top: ridge;
    height:80px;
    overflow:hidden;
    overflow-y:scroll;
}

.searchDateCreated {
    border-top: ridge;
    height:60px;
    overflow:hidden;
    overflow-y:scroll;
}

.searchButton {
    border-top: ridge;
}

.disposition {
    border-top: ridge;
    height:100px;
    overflow:hidden;
    overflow-y:scroll;
}

#noPets {
    padding-top: 100px;
}

.card-title {
    border-bottom: ridge;
}

.category {
    height: 20px;
}

.modal-body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.animalModalPhoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#pagination {
    text-align: center;
}

#prevButton {
    text-align: right;
}

#prev {
    width: 100px;
}

#next {
    width: 100px;
}
